body{
  /*font-family: 'Poppins', sans-serif; */
  font-family: "Arimo", sans-serif;
}

html {
    scroll-behavior: smooth;
  }

.title
{
  font-size: 8vh;
  text-align: center;
}

.topnav
{
  text-align: center;
  font-size: 4vh;
  margin-bottom: 10vh;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: black;
  margin-right: 1vw;
}

a:hover
{
  color: #6b705c;
}


.about
{
  /*border: .30vw solid; */
  /* margin-bottom: 2vh;
  margin-left: 10vw; */
  /* margin-right: 10vw; */
  /*text-align: center;*/
  /* height: 7vh; */
  /*line-height: 24vh; */
  font-size: 5vh;
  /*background-color: #b6cb9e;*/
  text-decoration-line: underline;
}

.contain-about
{
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin-bottom: 10vh;
  margin-left: 15%;
  margin-right: 15%;
  align-items: stretch;
  
}

.experience
{
  text-decoration-line: underline;
  margin-bottom: 2vh;
  margin-left: 15%;
  font-size: 5vh;
}

.experience-container {
  margin-left: 15%;
  margin-right: 15%;
  display:flex;
  flex-direction: column;
  font-size: 2.5vh;
}

.inner-points {
  font-size: 2vh;
  margin-left: 10%;
}

#ip1 {
  margin-top: 1%;
}

.aip {
  font-size: 1.75vh;
  margin-left: 15%;
}

/* .projtext-six
{
  height: 70vh;
} */

.one {
  animation: fadeInRight 1s;
}


.caption-about
{
  font-size: 9vh;
  margin-left: 3vw;
}

.content-resume
{
 
  width: 100vw;
  background-image: url('https://img.icons8.com/ios/452/open-resume.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  
}

.container-resume
{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 50vw;
  margin-bottom: 10vh;
  margin-left: 15%;
  margin-right: 15%;
}

.projects
{
  text-align: center;
  border: .30vw solid;
  margin-bottom: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  height: 25vh;
  line-height: 24vh;
  font-size: 8vh;
  background-color: #92b4a7;
}

.contain-project
{
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  height: auto;
  width: 90vw;
}

.at-container {
  display:flex;
  flex-direction: column;
  gap: 7%;
}

.about-text {
  font-size: 2.5vh;
}

.projpho-one
{
  border: .30vw solid;
  flex: 1 0 30%;
  background: url('pfp.jpg');
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  
}

.social-media-bar {
  display: flex;
  flex-direction: row;
  border: .1vw solid;
  padding: 1%;
  background-color: #e3d1ed;
  width: fit-content;
  border-radius: 10px;
  align-items: center;
}

.fa {
  font-size: 4vh;
}

.projpho-two
{
  background: url('https://i.imgur.com/Y0CraMi.png');
  background-size: contain;
  background-position: center;
  height: 50vh;
  margin-left: 8vw;
  
  width: 50%;
  background-repeat: no-repeat;
}

.projpho-six
{
  background: url('https://imgur.com/un9qEQL.png');
  background-size: contain;
  background-position: center;
  height: 50vh;
  margin-right: 8vw;
  background-repeat: no-repeat;
  width: 50%;
  animation: fadeInRight 1s;
}

.projpho-three
{
  background: url('https://i.imgur.com/QE8jXli.png');
  background-size: contain;
  background-position: center;
  height: 50vh;
  margin-right: 8vw;
  width: 50%;
  background-repeat: no-repeat;
}

.projtext
{
  font-size: 3.5vh;
  height: auto;
  width: 50%;
  padding-left: 2vw;
  word-wrap: break-word;
  display: inline-block;
}

@keyframes fadeInRight {
  0% {
    transform: translateX(30vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-30vw);
  }
  100% {
    transform: translateX(0);
  }
}


.projpho-four
{
  background: url('https://i.imgur.com/EdHWRTw.png');
  background-size: contain;
  background-position: center;
  height: 50vh;
  margin-left: 8vw;
  width: 50%;
  background-repeat: no-repeat;
}

.projpho-five
{
  background: url('https://i.imgur.com/YaLeHBl.png');
  background-size: contain;
  background-position: center;
  height: 50vh;
  margin-right: 8vw;
  width: 50%;
  background-repeat: no-repeat;
}

.caption-project
{
  font-size: 9vh;
  margin-left: 3vw;
}

.content-project
{
  font-size: 5vh;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 4vh;
  text-align: center;
}



.awards
{
  border: .30vw solid;
  margin-bottom: 1vh;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
  height: 25vh;
  line-height: 24vh;
  font-size: 8vh;
  background-color: #8c8a93;
}

.content-award
{
  font-size: 5vh;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 4vh;
}


.resume
{
  /* text-align: center;
  border: .30vw solid; */
  /* margin-bottom: 5vh;
  margin-left: 10vw; */
  /* margin-right: 10vw;
  height: 25vh;
  line-height: 24vh; */
  /* font-size: 5vh; */
  /* background-color: #81667a; */
  text-decoration-line: underline;
  margin-top: 10vh;
  margin-bottom: 3vh;
  margin-left: 15%;
  font-size: 5vh;
}


.contact
{
  /* text-align: center;
  border: .30vw solid; */
  margin-bottom: 5vh;
  margin-left: 10vw;
  /* margin-right: 10vw;
  height: 25vh;
  line-height: 24vh; */
  font-size: 5vh;
  /* background-color: #6b9080; */
}


.container-contact
{
  height: 15vh;
  margin-bottom: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.med-link
{
  height: 10vh;
  width: 5vw;
  background-image: url('LI-In-Bug.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 2vw;
  transform: scale(1.3);
}

.med-git
{
  height: 10vh;
  width: 5vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
  
}


ul
{
  font-size: 3vh;
  margin-bottom: 2vh;
}






.award-container
{
  display: flex;
  flex-direction: row;
  height: 30vh;
  margin-bottom: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.left-arrow
{
  background: url('https://cdn-icons-png.flaticon.com/512/271/271220.png');
  background-size: contain;
  background-position: center;
  height: auto;
  margin-right: 8vw;
  width: 10%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.right-arrow
{
  background: url('https://cdn-icons-png.flaticon.com/512/32/32213.png');
  background-size: contain;
  background-position: center;
  height: auto;
  margin-right: 8vw;
  margin-left: 7vw;
  width: 10%;
  background-repeat: no-repeat;
  cursor: pointer;
}